In [16]:
import pandas as pd

# Read the CSV file
df = pd.read_csv('employees.csv')

# Identify missing values
miss_value=pd.isnull(df).sum()
print(miss_value)

print("\n")

#It display the missing data of a person
miss_value1=df[pd.isnull(df).any(axis=1)]
print(miss_value1)

First Name            67
Gender               145
Start Date             0
Last Login Time        0
Salary                 0
Bonus %                0
Senior Management     67
Team                  43
dtype: int64


    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
7          NaN  Female   7/20/2015        10:43 AM   45906   11.598
10      Louise  Female   8/12/1980         9:01 AM   63241   15.132
20        Lois     NaN   4/22/1995         7:18 PM   64714    4.934
22      Joshua     NaN    3/8/2012         1:58 AM   90816   18.816
..         ...     ...         ...             ...     ...      ...
961    Antonio     NaN   6/18/1989         9:37 PM  103050    3.050
972     Victor     NaN   7/28/2006         2:49 PM   76381   11.159
985    Stephen     NaN   7/10/1983         8:10 PM   85668    1.909
989     Justin     NaN   2/10/1991         4:58 PM   38344    3.794
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655

    Senior Management             Team
1                True              NaN
7                 NaN          Finance
10               True              NaN
20               True            Legal
22               True  Client Services
..                ...              ...
961             False            Legal
972              True            Sales
985             False            Legal
989             False            Legal
995             False     Distribution

[236 rows x 8 columns]